numpy==2.2.0 --only-binary=:all:
pandas==2.2.2 --only-binary=:all:
matplotlib==3.9.2
pandas-ta==0.3.14b0
python-telegram-bot==20.8
python-dotenv==1.0.1
requests==2.32.3
apscheduler==3.10.4
openai==1.51.2
Flask==3.0.3
groq
